.header__list-item {
  margin: 0;
  margin-right: 35px;
  padding: 0;
  list-style-type: none;
  display: block;
}

@media (min-width: 560px) {
  .header__list-item {
    margin-right: 50px;
  }
}

@media (min-width: 800px) {
  .header__list-item {
    margin-right: 35px;
  }
}

@media (min-width: 980px) {
  .header__list-item {
    margin-right: 75px;
  }
}
