.quotes__title {
  font-family: "Raleway", "DM Sans-Bold", sans-serif;
  font-size: 22px;
  font-weight: 900;
  max-width: 450px;
  margin: 12px 0 44px 0;
  line-height: 1.3;
}

@media (min-width: 768px) {
  .quotes__title {
    margin: 24px 0 68px 0;
    font-size: 36px;
  }
}
