.page {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  max-width: 1444px;
  margin: 0 auto;
  color: #010101;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  line-height: 1.45;
}
