.footer__container {
  max-width: 100vw;
  min-height: 550px;
  margin: 0 auto;
  padding: 0;
  background-color: #fecda7;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {

  .footer__container {
    min-height: 450px;
  }
}

@media (max-width: 900px) {

  .footer__container {
    min-height: 350px;
  }
}
/*
@media (max-width: 800px) {

  .footer__container {
    min-height: 30px;
  }
}

@media (max-width: 700px) {

  .footer__container {
    min-height: 200px;
  }
}

@media (max-width: 600px) {

  .footer__container {
    min-height: 150px;
  }
}*/

@media (max-width: 400px) {

  .footer__container {
    min-height: 200px;
  }
}
