.header__link {
  margin: 0;
  padding: 0;
  color: #010101;
  font-weight: 900;
  font-size: 12px;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s ease-in-out;
}

.header__link:hover {
  background-size: 100% 2px;
}

@media (min-width: 560px) {
  .header__link {
    font-size: 14px;
  }
}

@media (min-width: 800px) {
  .header__link {
    font-size: 16px;
  }
}
