.footer__text {
  min-height: 100%;
  font-weight: 500;
  font-family: 'DM Sans-Bold';
  text-align: center;
  font-size: 46px;
}

@media (max-width: 900px) {

  .footer__text {
    font-size: 38px;
  }
}

@media (max-width: 700px) {

  .footer__text {
    font-size: 32px;
  }
}

@media (max-width: 500px) {

  .footer__text {
    font-size: 28px;
  }
}

@media (max-width: 400px) {

  .footer__text {
    font-size: 22px;
  }
}
