.intro__text {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media (min-width: 980px) {
  .intro__text {
    padding-right: 5%;
  }
}

@media (min-width: 560px) {
  .intro__text {
    width: 50%;
  }
}
/*
@media (max-width: 660px) {

  .intro__text {
    padding-right: 25px;
  }
}*/
