.intro__text {
  margin: 0;
  padding: 0;
  padding-right: 5%;
}

@media (max-width: 980px) {

  .intro__text {
    padding-right: 3%;
  }
}
/*
@media (max-width: 660px) {

  .intro__text {
    padding-right: 25px;
  }
}*/
