.place-card {
  display: flex;
  flex-direction: row;
  max-height: 550px;
}

.place-card:nth-of-type(2n) {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .place-card {
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
  }

  .place-card:nth-of-type(2n) {
    flex-direction: column;
  }
}
