.intro__image {
  display: block;
  max-width: 33%;
  margin: 24px 0 24px 64px;
  padding: 0;
  object-position: center;
  object-fit: cover;
  opacity: 1;
}

.intro__image:hover {
  opacity: 0.7;
  transition: opacity 2s ease-in-out;
}
