.intro__title {
  text-align: left;
  font-weight: 900;
  font-size: 18px;
}

@media (min-width: 400px) {
  .intro__title {
    font-size: 26px;
  }
}

@media (min-width: 700px) {
  .intro__title {
    font-size: 28px;
  }
}

@media (min-width: 800px) {
  .intro__title {
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  .intro__title {
    font-size: 32px;
  }
}

@media (min-width: 1000px) {
  .intro__title {
    font-size: 36px;
  }
}
